.date__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:700px;
    margin:auto;
}
.date__container div {
    width:100px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:3px;
}
.date__container:nth-child(-n+7){
    border-top: 1px solid black;
}
.date__container div:nth-child(7n){
    border-right: 1px solid black;
}
.date__week{
    height:30px;
}
.date__item{
    height:50px;
}
.data__list{
    margin: auto;
}
.account__container{
    width:700px;
    margin:auto;
    margin-top: 50px;
}
.date__today{
    background-color: antiquewhite;
}